*.class
*.log
.metals
.idea

target/**
project/target/**
project/project/target/**


**/.DS_Store
/src/test/resources/sample_1M.csv
/src/test/resources/sample_1G.csv
/src/test/resources/sample_10G.csv
/src/test/resources/sample_100k.csv
